@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.calender {
  flex: 1;
  background-color: #ebebf0;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  border-top-left-radius: 12px;
}
