.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background-color: #378760;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  margin: 0px 20px;
}

.footerText a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
}

.footerButton {
  border-radius: 10px;
  width: 120px;
  height: 48px;
  margin: 0px 20px;
  padding: 8px 30px;
  background-color: #fff;
  color: #378760;
  border: 2px solid #378760;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.footerButton:hover {
  background-color: #378760;
  color: #ffffff;
  border: 2px solid #fff;
}

.footerButtonText {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.footerButtonIcon {
  width: 20px;
  height: 20px;
}
