.main {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 4vh;
  z-index: 2;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .main {
    margin-top: 2rem;
  }

  .body {
    flex-direction: column;
  }
}
