.slotHead {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #555770;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.slots {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 237px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #378760 #fff;
}

.noSlots {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #555770;
  text-transform: uppercase;
  margin: auto;
}

.slots::-webkit-scrollbar {
  width: 8px;
}

.slots::-webkit-scrollbar-track {
  background-color: #fff;
}

.slots::-webkit-scrollbar-thumb {
  background-color: #378760;
  border-radius: 4px;
}

.slots::-webkit-scrollbar-thumb:hover {
  background-color: #22543d;
}

@media screen and (max-width: 768px) {
  .slotHead {
    font-size: 12px;
    line-height: 18px;
  }

  .slots {
    max-height: none;
  }
}

@media screen and (max-width: 480px) {
  .slotHead {
    font-size: 10px;
    line-height: 15px;
  }

  .slots {
    max-height: 150px;
  }
}
