.navbar {
  height: 85px;
  justify-content: space-between;
  padding: 12px 40px;
  box-shadow: 0px 4px 4px rgba(96, 97, 112, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImage {
  width: 228px;
  height: 61px;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: baseline;
}

.navItems {
  margin-right: 20px;
}

.navList li:not(:last-child) {
  font-size: 18px;
  color: #090f4e;
}

.navBtn {
  width: 150px;
  height: 40px;
  border-radius: 40px;
  padding: 6px 20px;
  border: 2px solid #378760;
  background-color: #ffffff;
  color: #378760;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.navBtn:hover {
  background-color: #378760;
  color: #ffffff;
}

.navBtnIcon {
  width: 20px;
  height: 20px;
}

.navBtnText {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -4px;
}

/* @media (max-width: 768px) {
  .navbar {
    padding: 12px;
    flex-direction: column;
    align-items: center;
  }
  .logoImage {
    width: 180px;
    height: auto;
  }
  .navList {
    flex-direction: column;
    align-items: center;
  }
  .navItems {
    margin-right: 0;
    margin-bottom: 12px;
  }
} */
